.menu-item {
  display: flex;
  width: 100%;
  gap: var(--spacing-l);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-s);
  height: 100%;
}

.img-container {
  display: block;
  max-width: 100%;
}

img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.name {
  font-size: var(--fs-subtitle);
}

.ingredients {
  font-size: var(--fs-text);
  font-weight: var(--fw-heading);
  font-style: italic;
}

.price {
  font-size: var(--fs-price);
}

.soldOut {
  opacity: 0.5;
}
